[Desktop Entry]
Encoding=UTF-8
Name=MS-AI-Viewer
Type=Application
Path=/home/ms-yang/workspace/MS-AI-Viewer/install
Icon=/home/ms-yang/workspace/MS-AI-Viewer/ui/images/icon2.png
Exec=/home/ms-yang/workspace/MS-AI-Viewer/install/main.sh
Terminal=true
